@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Gate_Sans, Arial, sans-serif;
}

.alim{
    background-image: url('https://ishesap.com/images/bg_mobile.jpg');
    background-size: cover;
}